/mi6/nbproject/private/
/mi6/build/
/mi6/dist/
/PropsDemo/nbproject/private/
/L10nDemo/nbproject/private/
/swing1/nbproject/private/
/swing1/dist/
/swing1/build/
/mi6maven/target/
/mi6web-Majdis/target/